<a href="https://colab.research.google.com/github/pawelztef/python_tut/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exc 1
The following target list is given:

```
target = ['yes', 'no', 'no', None, 'yes', 'yes', 'no', 'yes']
```

Using the built-in **collections** module create a ***Counter*** class object from the given list. 

Print the result to the console.

Expected result:

```
Counter({'yes': 4, 'no': 3, None: 1})
```

In [ ]:
from collections import Counter

target = ['yes', 'no', 'no', None, 'yes', 'yes', 'no', 'yes']

counter = Counter(target)

print(counter)

Counter({'yes': 4, 'no': 3, None: 1})

### Exc 2
The results of voting in two groups are given in the form of dictionaries:

```
poll_1 = {'yes': 140, 'no': 120, None: 12}

poll_2 = {'yes': 113, 'no': 132, None: 9}
```

The dictionary keys mean respectively:

* 'yes' - vote for yes

* 'no' - vote for no

* 'None' - invalid vote.

Using the built-in **collections** module create two objects of the ***Counter*** class from the given dictionaries. 

Then combine these objects into one and print to the console.

Expected result:

```
Counter({'yes': 253, 'no': 252, None: 21})
```

In [ ]:
from collections import Counter

poll_1 = {'yes': 140, 'no': 120, None: 12}
poll_2 = {'yes': 113, 'no': 132, None: 9}

ct1 = Counter(poll_1)
ct2 = Counter(poll_2)

ctR = ct1 + ct2

print(ctR)

Counter({'yes': 253, 'no': 252, None: 21})

### Exc 3

The results of voting in three groups are given in the form of dictionaries:

```
poll_1 = {'yes': 140, 'no': 120, None: 12}

poll_2 = {'yes': 113, 'no': 132, None: 9}

poll_3 = {'yes': 16, 'no': 14}
```

The dictionary keys mean respectively:

* 'yes' - vote for yes
* 'no' - vote for no
* 'None' - invalid vote.

Using the built-in **collections** module and the ***Counter*** class find the total number of 'yes' votes and print to the console.

Expected result:

```
269
```

In [ ]:
from collections import Counter

poll_1 = {'yes': 140, 'no': 120, None: 12}
poll_2 = {'yes': 113, 'no': 132, None: 9}
poll_3 = {'yes': 16, 'no': 14}

counter_1 = Counter(poll_1)
counter_2 = Counter(poll_2)
counter_3 = Counter(poll_3)

result = (counter_1 + counter_2 + counter_3)['yes']

print(result)

269

### Exc 4

The text is as follows:

```
text = 'python programming - introduction'
```

Using the built-in **collections** module and the ***Counter*** class find the distribution of characters in the given text (create a Counter object). 

Print the result to the console.

Expected result:

```
Counter({'o': 4, 'n': 4, 't': 3, ' ': 3, 'r': 3, 'i': 3, 'p': 2, 'g': 2, 'm': 2, 'y': 1, 'h': 1, 'a': 1, '-': 1, 'd': 1, 'u': 1, 'c': 1})
```

In [ ]:
from collections import Counter

text = 'python programming - introduction'

ct = Counter(text)

print(ct)

Counter({'o': 4, 'n': 4, 't': 3, ' ': 3, 'r': 3, 'i': 3, 'p': 2, 'g': 2, 'm': 2, 'y': 1, 'h': 1, 'a': 1, '-': 1, 'd': 1, 'u': 1, 'c': 1})

### Exc 5

The following text is given:

```
text = 'python programming - introduction'
```

Using the built-in **collections** module and the **Counter** class calculate the three most common characters in the given text. 

Print the result as shown below.

Expected result:

```
[('o', 4), ('n', 4), ('t', 3)]
```

In [ ]:
from collections import Counter

text = 'python programming - introduction'

result = Counter(text).most_common(3)

print(result)

[('o', 4), ('n', 4), ('t', 3)]

### Exc 6
The following text is given:

```
text = """"Python is fast enough for our site and allows us to produce maintainable features in record times,with a minimum of developers," said Cuong Do, Software Architect, YouTube.com. "Python plays a key role in our production pipeline. Without it a project the size of Star Wars:Episode II would have been very difficult to pull off. From crowd rendering to batch processing to compositing,Python binds all things together," said Tommy Burnette,Senior Technical Director, Industrial Light & Magic."""
```

Using the built-in **re** module split the given text into words/tokens.
Standardize the words (all lowercase). 
Then create a Counter object that allows you to determine the three most common words in the text. 
In response, print these words with the number of occurrences.

Expected result:

```
[('to', 4), ('python', 3), ('a', 3)]
```

In [ ]:
import re
from collections import Counter

text = """"Python is fast enough for our site and allows us to produce 
maintainable features in record times,with a minimum of developers," 
said Cuong Do, Software Architect, YouTube.com. "Python plays a key 
role in our production pipeline. Without it a project the size of Star
Wars: Episode II would have been very difficult to pull off. From crowd 
rendering to batch processing to compositing,Python binds all things 
together," said Tommy Burnette,Senior Technical Director, Industrial 
Light & Magic."""

text = text.lower()
text_list = re.findall('\w+', text)

result = Counter(text_list).most_common(3)

print(result)

[('to', 4), ('python', 3), ('a', 3)]


### Exc 7
The following list is given:

```
fnames = [    
     '001_image.png', '002_image.png', '003_image.jpg', '004_image.png',  '005_image.png', '006_image.png', '007_image.jpg', '008_image.png',     '009_image.jpg', '010_image.jpg', '011_image.jpg', '012_image.png',     '013_image.jpg', '014_image.jpg', '015_image.jpg', '016_image.png',     '017_image.jpg', '018_image.jpg', '019_image.png', '020_image.png',     '021_image.jpg', '022_image.jpg', '023_image.png', '024_image.png',     '025_image.jpg', '026_image.png', '027_image.png', '028_image.jpg',     '029_image.png', '030_image.png'     
]
```
     
Using the built-in **collections** module and the ***Counter*** class find the distribution of file extensions in the given fnames list. Print the result to the console.

Expected result:

```
Counter({'png': 16, 'jpg': 14})
```

In [ ]:
from collections import Counter

fnames = [    
    '001_image.png', '002_image.png', '003_image.jpg', '004_image.png',
    '005_image.png', '006_image.png', '007_image.jpg', '008_image.png', 
    '009_image.jpg', '010_image.jpg', '011_image.jpg', '012_image.png',     
    '013_image.jpg', '014_image.jpg', '015_image.jpg', '016_image.png',     
    '017_image.jpg', '018_image.jpg', '019_image.png', '020_image.png',     
    '021_image.jpg', '022_image.jpg', '023_image.png', '024_image.png',     
    '025_image.jpg', '026_image.png', '027_image.png', '028_image.jpg',     
    '029_image.png', '030_image.png'      
]

exts = [fname.split('.')[1] for fname in fnames]
counter = Counter(exts)
print(counter)

Counter({'png': 16, 'jpg': 14})


### Exc 8

Using the built-in **collections** module from the following dictionaries:

```
stocks_1 = {'CDR': 400, 'PLW': 490}

stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}
```

create a **ChainMap** object and assign to the stocks variable. 

In response, print this variable to the console.

In [ ]:
from collections import ChainMap

stocks_1 = {'CDR': 400, 'PLW': 490}
 
stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}

stocks = ChainMap(stocks_1, stocks_2)

print(stocks)

ChainMap({'CDR': 400, 'PLW': 490}, {'PLW': 500, 'TEN': 550, 'BBT': 30})

### Exc 9
Using the built-in collections module from the following dictionaries:

```
stocks_1 = {'CDR': 400, 'PLW': 490}

stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}
```

ChainMap object has been created and assigned to the stocks variable. Find the value for the key 'PLW' in the ChainMap object and print to the console.

Expected result:

```
490
```

In [ ]:
from collections import ChainMap

stocks_1 = {'CDR': 400, 'PLW': 490}
 
stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}

stocks = ChainMap(stocks_1, stocks_2)

print(stocks['PLW'])

490


### Exc 10
Using the built-in ***collections*** module from the following dictionaries:

```
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}

finance = {'Citigroup': 51, 'Allianz': 180}

gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
```

create a ChainMap object and assign to stocks variable. Find the value for the 'Samsung' key in the ChainMap object and print to the console.

Expected result:

```
1100
```

In [ ]:
from collections import ChainMap

techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
 
finance = {'Citigroup': 51, 'Allianz': 180}
 
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}

stocks = ChainMap(techs, finance, gaming)

print(stocks['Samsung'])

1100


### Exc 11
Using the built-in collections module from the following dictionaries:

```
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
```

ChainMap object was created and assigned to the stocks variable. Update the value for the key 'Microsoft' in the techs dictionary to 210. Then read the value for this key and print to the console.


Expected result:

```
210
```

In [ ]:
from collections import ChainMap

techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}

stocks = ChainMap(techs, finance, gaming)
stocks['Microsoft'] = 210

print(stocks['Microsoft'])

210


### Exc 12
Using the built-in ***collections*** module from the following dictionaries:

```
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
```

an object of the **ChainMap** class was created and assigned to the stocks variable. Print all keys of the **ChainMap** object to the console (sorted alphabetically).

Expected result:
```
['Allianz', 'Apple', 'Citigroup', 'EA', 'Microsoft', 'Nintendo', 'Samsung', 'Sony']
```

In [ ]:
from collections import ChainMap

techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}

stocks = ChainMap(techs, finance, gaming)
stocks_keys = list(stocks.keys())

print(sorted(stocks_keys))

['Allianz', 'Apple', 'Citigroup', 'EA', 'Microsoft', 'Nintendo', 'Samsung', 'Sony']


### Exc 13
The following problem was encountered while implementing the car application. It's necessary to store information about car settings (with one object in Python). Two parameters are always set:


* **mode** 
* **power_level**

By default, these parameters store the values: 'eco' and 7. 

However, their values ​​may change depending on the user's settings. Let's assume that the user can pass the following settings:

```
{'mode': 'sport', 'power_level': 10}
```

Consider how you can use the **ChainMap** class in this case.

Steps:

* create a dictionary with default settings (default_settings)

* create a dictionary with user settings (user_settings)

* create a **ChainMap** object from the given dictionaries in the right order (settings). 

In response, print the value for the 'mode' key of the settings **ChainMap**.

Expected result:
```
sport
```

In [ ]:
from collections import ChainMap

default_settings = {'mode': 'eco', 'power_level': 7}
user_settings = {'mode': 'sport', 'power_level': 10}

all_settings = ChainMap(user_settings, default_settings)

print(all_settings['mode'])

sort


### Exc 14
The following problem was encountered while implementing the car application.

It's necessary to store information about car settings (with one object in Python). Two parameters are always set: 

* **mode** 
* **power_level**. 

By default, these parameters store the values: ***'eco'*** and ***7***. 

However, their values ​​may change depending on the user's settings. In this exercise the user hasn't set any additional settings. Consider how you can use the **ChainMap** class in this case.Steps create a dictionary with default settings (default_settings) create a dictionary with user settings (user_settings) create a **ChainMap** object from the given dictionaries in the right order (settings)


In response, print the value for the ***'mode'*** key of the settings **ChainMap**.


Expected result:

```
eco
```

In [ ]:
from collections import ChainMap

default_settings = {'mode': 'eco', 'power_level': 7}
user_settings = {}

all_settings = ChainMap(user_settings, default_settings)

print(all_settings['mode'])

eco


### Exc 15
Using the built-in ***collections*** module and the **namedtuple()** function create a class named **Point** to store points in a two-dimensional space (R^2). 

Name the fields 'x' and 'y' respectively.  Then create two points with coordinates:
* (3, 4)
* (-2, 6)

Print these objects to the console.

Expected result:

```
Point(x=3, y=4)
Point(x=-2, y=6)
```

In [ ]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])

pt_1 = Point(3, 4)
pt_2 = Point(-2, 6)

print(pt_1)
print(pt_2)

Point(x=3, y=4)
Point(x=-2, y=6)

### Exc 16
Using the built-in ***collections*** module and the ***namedtuple()*** function, a class Point was implemented. Then the following points were created:

```
pt1 = Point(3, 4)
pt2 = Point(-2, 6)
```

Find the midpoint of the segment at points pt1 and pt2 and print the result to the console.

Returns a new subclass of tuple with named fields.

Expected result:

```
Point(x=0.5, y=5.0)
```

In [ ]:
from collections import namedtuple

Point = namedtuple(typename='Point', field_names=['x', 'y'])

pt1 = Point(3, 4)
pt2 = Point(-2, 6)

pt3 = Point(((pt1.x + pt2.x)/2), ((pt1.y + pt2.y)/2))
print(pt3)

Point(x=0.5, y=5.0)


### Exc 17
Using the built-in ***collections*** module and the ***namedtuple()*** function create a class called **Student** to store data about students. 

Set the following attributes/fields:

* 'name'
* 'age'
* 'specialization'

Then create three students with the given data:

```
Student('Mike', 21, 'physics')
Student('Kate', 20, 'mathematics')
Student('Bob', 21, 'information technology')
```

and assign it to the students list. Iterate through the students list and print basic information about the students to the console as shown below.

Expected result:
```
Mike : 21: physics
Kate : 20: mathematics
Bob  : 21: information technology
```

In [ ]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'specialization'])

s_m = Student('Mike', 21, 'physics')
s_k = Student('Kate', 20, 'mathematics')
s_b = Student('Bob', 21, 'infrmation tech')

s_list = [s_m, s_k, s_b]

for s in s_list:
    print(f'{s.name}: {s.age}: {s.specialization}')

Mike: 21: physics
Kate: 20: mathematics
Bob: 21: infrmation tech


### Exc 18
Using the built-in ***collections*** module and the ***namedtuple()*** function, a class called **Student** was implemented.

Then four students with the given data were created:
* Student('Mike', 21, 'physics'),
* Student('Mark', 22, 'biology'),
* Student('Kate', 20, 'mathematics'),
* Student('Bob', 21, 'information technology')

and assigned to the students list. Sort the students list by age (age attribute) in ascending order. In response, print the students list to the console.

Expected result:

```
[
    Student(name='Kate', age=20, specialization='mathematics'), 
    Student(name='Mike', age=21, specialization='physics'), 
    Student(name='Bob', age=21, specialization='information technology'),     
    Student(name='Mark', age=22, specialization='biology')
]
```

In [ ]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'specialization'])
students = [
    Student('Mike', 21, 'physics'),
    Student('Mark', 22, 'biology'),
    Student('Kate', 20, 'mathematics'),
    Student('Bob', 21, 'information technology')
]

students_by_age = sorted(students, key=lambda x: x.age)
print(students_by_age)

[Student(name='Kate', age=20, specialization='mathematics'), Student(name='Mike', age=21, specialization='physics'), Student(name='Bob', age=21, specialization='information technology'), Student(name='Mark', age=22, specialization='biology')]


### Exc 19
Using the built-in ***collections*** module and the ***namedtuple()*** function, a class called **Student** was implemented.

Three dictionaries are given:

```
st1 = {'name': 'Kate', 'age': 20, 'specialization': 'mathematics'}
st2 = {'name': 'Mike', 'age': 21, 'specialization': 'physics'}
st3 = {'name': 'Bob', 'age': 21, 'specialization': 'information technology'}
```

Create Student objects from these dictionaries and assign them to the students list. Then, iterating through the students list, print each student to the console.

Expected result:
```
Student(name='Kate', age=20, specialization='mathematics')
Student(name='Mike', age=21, specialization='physics')
Student(name='Bob', age=21, specialization='information technology')
```

In [ ]:
from collections import namedtuple

st1 = {'name': 'Kate', 'age': 20, 'specialization': 'mathematics'}
st2 = {'name': 'Mike', 'age': 21, 'specialization': 'physics'}
st3 = {'name': 'Bob', 'age': 21, 'specialization': 'information technology'}

Student = namedtuple('Student', ['name', 'age', 'specialization'])

students_list = [Student(**st1), Student(**st2), Student(**st3)] 

for student in students_list:
    print(student)

Student(name='Kate', age=20, specialization='mathematics')
Student(name='Mike', age=21, specialization='physics')
Student(name='Bob', age=21, specialization='information technology')


### Exc 20
Using the built-in ***collections*** module and the ***namedtuple()*** function, a class called Student was implemented.
The ***students.txt** file containing student data shoude be attached to this exercise:

```
{'name': 'Kate', 'age': 20, 'specialization': 'mathematics'}
{'name': 'Mike', 'age': 21, 'specialization': 'physics'}
{'name': 'Bob', 'age': 21, 'specialization': 'information technology'}
```
Load the file ***students.txt*** and create **Student** objects from the given dictionaries and assign them to the students list. Then print the students list to the console.

Expected result:
```
[
    Student(name='Kate', age=20, specialization='mathematics'), 
    Student(name='Mike', age=21, specialization='physics'), 
    Student(name='Bob', age=21, specialization='information technology')
]

```

In [ ]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'age', 'specialization'])
students_list = []

with open('sample_data/students.txt') as reader:
    for line in reader.readlines():
        line = eval(line.strip())
        students_list.append(Student(**line))

print(students_list)

[Student(name='Kate', age=20, specialization='mathematics'), Student(name='Mike', age=21, specialization='physics'), Student(name='Bob', age=21, specialization='information technology')]


### Exc 21
Consider an empty dictionary named quotations as defined below:
```
quotations = {}
```
When trying to read a value for non-existing key, e.g. 'source' quotations
```
['source']
```
we get the **KeyError**. We can deal with it in several ways. For this exercise, consider the dict.get() method:

```
>>> help(dict.get) 

Help on method_descriptor: 

get(...)    
    D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
```

In this case, when we execute the code:
```
quotations.get('source')
```
No error is raised and the return value is **None**.

Using the ***dict.get()*** method, set the default value to **'NYSE'** and print value for **'source'** key of quotations dictionary to the console. Also print the quotations dictionary to the console.

Expected result:
```
NYSE{}
```

In [ ]:
quotations = {}
print(quotations.get('source', 'NYSE'))

NYSE


### Exc 22
Consider an empty dictionary named quotations as defined below:
```
quotations = {}
```
When trying to read a value for non-existing key, e.g. 'source'
```
quotations['source']
```
we get the **KeyError**. We can deal with it in several ways. 

In this exercise, consider the ***dict.setdefault()*** method:

```
>>> help(dict.setdefault) 

Help on method_descriptor: 
setdefault(...)    
    D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
```
Using the ***dict.setdefault()*** method set the default value for the **'source'** key to **'NYSE'**. Then print the quotations dictionary to the console.

Try again to set the default value for the key **'source'** to **'LSE'** this time. 

Then print the dictionary quotations and the value for the key **'source'** of quotations dictionary as shown below to the console.

Expected result:
```
{'source': 'NYSE'}
{'source': 'NYSE'}
NYSE
```

In [ ]:
quotations = {}

quotations.setdefault('source', 'NYSE')
print(quotations)
quotations.setdefault('source', 'LSE')
print(quotations)
print(quotations['source'])

{'source': 'NYSE'}
{'source': 'NYSE'}
NYSE


### Exc 23
The following list is given:
```
data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]
```

Using the dictionary and the ***dict.setdefault()*** method create the following object:
```
{
    'technology': ['Apple', 'Facebook'], 
    'gaming': ['Techland', 'EA', 'CD Projekt'], 
    'finance': ['Berkshire Hathaway', 'Allianz']
}
```
and assign it to the **data_dict** variable. In response, print this variable to the console.

Expected result:
```
{
    'technology': ['Apple', 'Facebook'], 
    'gaming': ['Techland', 'EA', 'CD Projekt'], 
    'finance': ['Berkshire Hathaway', 'Allianz']
}
```

In [ ]:
data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]
result_dict = {}

for sector, company in data:
    result_dict.setdefault(sector, []).append(company)

print(result_dict)

{'technology': ['Apple', 'Facebook'], 'gaming': ['Techland', 'EA', 'CD Projekt'], 'finance': ['Berkshire Hathaway', 'Allianz']}


### Exc 24
The following list is given:
```
data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]
```

Using the built-in ***collections*** module and the ***defaultdict*** class create the following object:

```
defaultdict(<class 'list'>, {'technology': ['Apple', 'Facebook'], 'gaming': ['Techland', 'EA', 'CD Projekt'], 'finance': ['Berkshire Hathaway', 'Allianz']})
```
and assign it to **def_dict**. Print this variable to the console.

Expected result:

```
defaultdict(<class 'list'>, {'technology': ['Apple', 'Facebook'], 'gaming': ['Techland', 'EA', 'CD Projekt'], 'finance': ['Berkshire Hathaway', 'Allianz']})
```

In [ ]:
from collections import defaultdict

data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]

result_dict = defaultdict(list)

for sector, company in data:
    result_dict[sector].append(company)

print(result_dict)

defaultdict(<class 'list'>, {'technology': ['Apple', 'Facebook'], 'gaming': ['Techland', 'EA', 'CD Projekt'], 'finance': ['Berkshire Hathaway', 'Allianz']})


### Exc 25
The following list is given:
```
data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]
```
Notice that the list contains duplicate values. 

Using the built-in ***collections*** module and the ***defaultdict*** class create the following object:

```
defaultdict(<class 'set'>, {'technology': {'Facebook', 'Apple'}, 'gaming': {'EA', 'CD Projekt', 'Techland'}, 'finance': {'Allianz', 'Berkshire Hathaway'}})
```

and assign it to **def_dict**.

Print this variable to the console.

Expected result:

```
defaultdict(<class 'set'>, {'technology': {'Facebook', 'Apple'}, 'gaming': {'EA', 'CD Projekt', 'Techland'}, 'finance': {'Allianz', 'Berkshire Hathaway'}})

```

In [ ]:
from collections import defaultdict

data = [    
    ('technology', 'Apple'),    
    ('gaming', 'Techland'),    
    ('gaming', 'Techland'),    
    ('gaming', 'Techland'),    
    ('finance', 'Berkshire Hathaway'),    
    ('finance', 'Berkshire Hathaway'),    
    ('gaming', 'EA'),    
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),    
    ('gaming', 'CD Projekt'),    
    ('finance', 'Allianz')   
]

def_dict = defaultdict(set)

for sector, company in data:
    def_dict[sector].add(company)

print(def_dict)

defaultdict(<class 'set'>, {'technology': {'Apple', 'Facebook'}, 'gaming': {'Techland', 'CD Projekt', 'EA'}, 'finance': {'Berkshire Hathaway', 'Allianz'}})


### Exc 26
The following list is given:
```
transactions = [
    ('001', 100),
    ('003', 10),
    ('002', 80),
    ('001', 90),
    ('002', 46),
    ('001', 43),
    ('003', 23),
]
```
Using the built-in ***collections*** module and the ***defaultdict*** class create the following object (group by the first element - user_id):
```
defaultdict(<class 'int'>, {'001': 233, '003': 33, '002': 126})
```

and assign it to **def_dict**. Print this variable to the console.

Expected result:

```
defaultdict(<class 'int'>, {'001': 233, '003': 33, '002': 126})
```

In [ ]:
from collections import defaultdict

transactions = [
    ('001', 100),
    ('003', 10),
    ('002', 80),
    ('001', 90),
    ('002', 46),
    ('001', 43),
    ('003', 23),
]

def_dict = defaultdict(int)

for id, amount in transactions:
    def_dict[id] += amount

print(def_dict)

defaultdict(<class 'int'>, {'001': 233, '003': 33, '002': 126})


### Exc 27
The following list is given:
```
['Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.']
```
Using the ***collections*** built-in module create a double-ended queue object (deque) from the given list and assign it to the **daynames** variable. Then add the item **'Mon.'** at the beginning and the element **'Sun.'** at the end of the daynames object. 

In response, print the daynames deque to the console.

```
>>> help(deque) 
Help on class deque in module collections: 
class deque(builtins.object) |  deque([iterable[, maxlen]]) --> deque object |   |  A list-like sequence optimized for data accesses near its endpoints.
```

Expected result:

```
deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
```

In [ ]:
from collections import deque

daynames = deque(['Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.'])
daynames.appendleft('Mon.')
daynames.append('Sun.')
print(daynames)

deque(['Mon', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun'])

### Exc 28
The following list is given:
```
daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Mon.'])
```
Using the ***collections*** built-in module  and the deque class, move one item forward in the **daynames** deque, as shown below: 

```
deque(['Sun', 'Mon.', 'Thu.', 'Wed.', 'Tue', 'Fri.', 'Sat.' ]) 
```

In response, print **daynames** to the console.

Expected result:

```
Wed.
```

In [ ]:
from collections import deque
daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
daynames.appendleft(daynames.pop())

print(daynames)

deque(['Sun.', 'Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.'])


### Exc 29
The following deque object is given:

```
daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
```

Using the built-in ***collections*** module and the ***deque*** class, 
shift three items back in the **daynames** deque, as shown below:

```
deque(['Thu.', 'Fri.', 'Sat.', 'Sun.', 'Mon.', 'Tue.', 'Wed.'])
```

Then, using the appropriate method pop the last element out of this deque and print to the console.

Expected result:

```
Wed.
```

In [ ]:
from collections import deque

daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
daynames.rotate(4)

print(daynames.pop())

Wed.


### Exc 30
The following deque object is given:

```
daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
```

Using the ***collections*** built-in module and the ***deque*** class reverse the order of the daynames queue as shown below:

```
deque(['Sun.', 'Sat.', 'Fri.', 'Thu.', 'Wed.', 'Tue.', 'Mon.'])
```
Then, using the appropriate method pop the first element out of this deque and print to the console.

Expected result:

```
Sun.
```

In [ ]:
from collections import deque

daynames = deque(['Mon.', 'Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.', 'Sun.'])
daynames.reverse()

print(daynames.popleft())

Sun.


### Exc 31
The premiere of a computer game is planned and the option to subscribe to the wish list is opened. When a user subscribes to the wish list user id is added to the deque. Using the built-in ***collections*** module create an empty deque object named wishlist. Following users subscribed to the wish list in the given order:

* '003'
* '001'
* '004'
* '002'
* '005'

Add these users to the wishlist deque.You should get following object:

```
deque(['003', '001', '004', '002', '005'])
```

Using the appropriate method pop the first subscribed user from this deque and print to the console.

Expected result:

```
003
```

In [ ]:
from collections import deque

whishlist = deque()

whishlist.append('003')
whishlist.append('001')
whishlist.append('004')
whishlist.append('002')
whishlist.append('005')

print(whishlist.popleft())

003


### Exc 32
The premiere of a computer game is planned and the option to subscribe to the wish list is opened. When a user subscribes to the wish list user id is added to the deque. Several users subscribed to the wish list. The data is received as a stream. If an error occurs, the value None appears in the stream instead of the user id. In this case, the deque should be cleared.

Using the built-in ***collections*** module create an empty deque object named **wishlist**. Following users subscribed to the wish list in the given order (in stream):
* '003'
* '001'
* '004'
* None
* '002'
* '005'

Add these users to the wishlist deque in the way described above. 

In response, print the wishlist to the console.

Expected result:

```
deque(['002', '005'])
```

In [ ]:
from collections import deque

user_ids = ['003', '001', '004', None, '002', '005']
wishlist = deque()

for id in user_ids:
    if id is None:
        wishlist.clear()
    else:
        wishlist.append(id)

print(wishlist)

deque(['002', '005'])


###  Exc 33

The premiere of a computer game is planned and the option to subscribe to the wish list is opened. When a user subscribes to the wish list user id is added to the deque. 

Using the built-in ***collections*** module create an empty deque object named **wishlist** with the maximum length of three elements. Following users subscribed to the wish list in the given order:

* '003'
* '001'
* '004'
* '006'
* '002'
* '005'

Add these users to the wishlist deque. 

In response, print wishlist deque to the console each time you add a user as shown below.

Expected result:
```
deque(['003'], maxlen=3)
deque(['003', '001'], maxlen=3)
deque(['003', '001', '004'], maxlen=3)
deque(['001', '004', '006'], maxlen=3)
deque(['004', '006', '002'], maxlen=3)
deque(['006', '002', '005'], maxlen=3)
```

In [ ]:
from collections import deque

user_ids = ['003', '001', '004', '006', '002', '005']
wishlist = deque(maxlen=3)

for id in user_ids:
    wishlist.append(id)
    print(wishlist)

deque(['003'], maxlen=3)
deque(['003', '001'], maxlen=3)
deque(['003', '001', '004'], maxlen=3)
deque(['001', '004', '006'], maxlen=3)
deque(['004', '006', '002'], maxlen=3)
deque(['006', '002', '005'], maxlen=3)


### Exc 34
The premiere of a computer game is planned and the option to subscribe to the wish list is opened. When a user subscribes to the wish list user id is added to the deque. Following users subscribed to the wish list in the given order:

* '003'
* '001'
* '004'
* '002'
* '005'

Using the ***collections*** built-in module a deque object called wishlist was created based on the data from the user_ids list. Extend the wishlist with three additional users:

```
['007', '009', '010']
```

In response, print the wishlist object to the console.

Expected result:

```
deque(['003', '001', '004', '002', '005', '007', '009', '010'])
```

In [ ]:
from collections import deque

user_ids = ['003', '001', '004', '002', '005']

wishlist = deque(user_ids)
wishlist.extend(['007', '009', '010'])

print(wishlist)

deque(['003', '001', '004', '002', '005', '007', '009', '010'])